*~
**/#*#
*.elc
.DS_Store
.cache
.dap-breakpoints
.extension
.lsp-session-v1
.org-generic-id-locations
eln-cache
elpa
elpy
eshell
history
indium-chrome
network-security.data
persist
projectile-bookmarks.eld
projectile.cache
projects
readme.html
README.html
recentf
tramp
transient
tree-sitter
tutorial
url
session.*
custom.el